@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    background-image: url("img/fond.png");
    padding:0;
    margin:0;
}
header{
    margin-top:60px;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    width:100%;
    background-color:#25B3B4;
    border-top:4px solid #1f9696;
    border-bottom: 4px solid #1f9696;
    
}
.welcome{
    font-size: 2.5em;
}
ul {
    padding-left:0;
}
li {
    display: inline-block;
    padding:20px;
}
a {
    text-decoration:none;
    color:white;
}

h2{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
    margin-top:40px;
}
.description1,.description2,.description3{
    font-size:1.2em;
    text-align:center;
}
.para1{
    margin:auto;
    width:600px;
    font-family: 'Open Sans' , sans-serif;
}



/* contianre */
.container {
    margin:auto;
    width:1000px;
    font-family:'Open Sans' , sans-serif;
    padding-top: 100px;
    overflow:hidden;
    
}
h1{
    text-align:center;
    font-size:3.5em;
}
.leT,.fa-droplet-color {
    color:rgb(1, 141, 141);
    
}

.dishes {
    float:left;
}
.alldishes{
    overflow:hidden;
    width:600px;
    background-color:#e0fffc;
}

.dish1,.dish2{
    float:left;
    width:40%;
    padding-left: 40px;
    margin-bottom: 60px;
    /* padding:0px 5px; */
}

.dish1-button{
    
    
    height:40px;
    width:100px;
    margin-left:140px;
    color:white;
    background-color: #1f9696;
    border:0;
}

.dishh1{
overflow:hidden;
width:100%;
text-align: center;
}
.recipe1 {
    border-radius:50%;
     float:left; 
     height:100px;
     width:45%;
     margin-right:5%;
    
}
.recipe1-para1{
    text-align:start;
}

.recipe1-para2,.recipe1-para3{
    /* margin:10px; */
    margin:0;
    width:100%
}

.description{
    /* position: absolute; */
    float:left;
}
/*dish-description*/
.dish-description{
    /* left:600px; */
    position:relative;
    width:300px;
    padding:20px;
    border:4px solid #0b3838;
    margin-left:20px;
    color:white;
    background-color:#0d969b;
}
.fish {
    position:absolute;
    top:-60px;
    right: -37px;
    transition-property: all;
    
}
.fish :hover{
    transform: rotate(45deg);
    transition-duration:3s;
    
}

/*footer */
footer{
    font-family:'Open Sans' , sans-serif ;
}
.academy {
    margin:10px 0px;
    text-align: center;
}

.imgacademy{
    width:50px
}

.lasttext1 ,.lasttext2{
    text-align:center
}

u {
    color:#a366ff;
}